<html lang="en">

<head>
	<title>User Info</title>
</head>

<body>

	<form action="saveUser" method="POST">
		<table>
			<tr>
				<td><label for="user-name">Name</label></td>
				<td><input type="text" name="name"></input></td>
			</tr>
			<tr>
				<td><label for="email">Email</label></td>
				<td><input type="text" name="email"></input></td>
			</tr>
			<tr>
				<td><label for="email">Position</label></td>
				<td><input type="text" name="position"></input></td>
			</tr>
			<tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Submit"></input></td>
			</tr>
		</table>

</body>

</html>